<?xml version='1.0' encoding='utf-8'?>
<widget id="com.project.gamehub" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GameHub</name>
    <description>2-Player Game Hub App</description>
    <author email="dev@example.com" href="http://example.com">Creator</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
